* {
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
}

.main-container {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 2;
  background: white;
}
